<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error 404</title>
    </head>
    <body>
        <div class="error">
            <img class="error-logo" src="logo-error.png" alt="Error 404" />
            <h1>
                <span class="error-text">404:</span>
                <span>Not found</span>
            </h1>
            <a class="error-text underline" href="/">Inicio</a>
        </div>
    </body>
</html>