---
import '../styles/index.css';
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta name="description" content="Somos un salón de belleza ubicados en la ciudad de Puebla, ofrecemos servicios tanto como a dama y caballero con precios muy accesibles.">
		<meta name="keywords" content="Adeline, Salon, Belleza, Puebla, Adeline Salon, Cortes de Cabello">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="index">
		<meta charset="UTF-8" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="canonical" href="https://adeline-site.web.app/" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-D1GKH3RN51"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-D1GKH3RN51");
	</script>
	<body>
		<slot />
	</body>
</html>
